body{
  font-family: 'Poppins', sans-serif;
}

.select-class {
    box-sizing: border-box;
    letter-spacing: 0.05rem;
    outline: 0 none;
    margin: auto;
    padding: 0.5rem 4rem 0.5rem 0.2rem;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    border: 1px solid #737373;
    color: #525252;
    background-color: #fff;
  }
  
  .selectclass-label {
    position: relative;
    display: inline-block;
  }
  
  .selectclass-label::before {
    content: '';
    height: calc(var(--height) - 5px);
    position: absolute;
    right: 7px;
    top: 3px;
    width: 22px;
    background: #fff;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    pointer-events: none;
    display: block;
  }
  
  .selectclass-label::after {
    content: " ";
    position: absolute;
    right: 15px;
    top: 46%;
    margin-top: -3px;
    z-index: 2;
    pointer-events: none;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6.9px 4px 0 4px;
    border-color: #aaa transparent transparent transparent;
    pointer-events: none;
  }
  
  .selectclass-select {
    font-family: 'Poppins', sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0px 30px 0px 10px;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    background: #fff;
    margin: 0 5px 5px 0;
  }
  
  /* Fix for IE 10 and later */
  .selectclass-select::-ms-expand {
    display: none;
  }

  /* ------------------------------------------------------- */

.filters-container {

  position: absolute;
  z-index: 1;
  display: flex;
  width: 70vw;
  margin: auto;
  padding: 10px;
  background-color: #ffffff;
  top: 55vh;
  left: 0;
  right: 0;
  border-radius: 8px;
  box-shadow: 5px 5px 20px 0px rgba(117,117,117,0.28);
  -webkit-box-shadow: 5px 5px 20px 0px rgba(117,117,117,0.28);
  -moz-box-shadow: 5px 5px 20px 0px rgba(117,117,117,0.28);
  }

.select-container{
  margin:0;
  height: 10vh;
  padding: 3vh;
}

.select-text{
  user-select: none;
  padding-bottom: 1vh;
  color: #525252;
  }


