@import url('https://fonts.googleapis.com/css2?family=Carattere&display=swap');

.navbar-container{
    position: absolute;
    width: 100%;
    height: 8vh;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    gap: 0px;
    z-index: 1;
    background-color: #ffffffbe;
    /* border: 1px solid yellow; */
}

.navbar-element{
    font-size: 1em;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    color: #e5e5e5;
    z-index: 2;
    /* border: 1px solid green; */
    width: 10vw;
    height: 100%;
}

.social-media{
    width: 48vw;
}



/* ------------------------- home ------------------------- */

.home-container{
    height: 60vh;
    background-image: url("../../assets/images/tajmahal.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    content: "";
}

.home-container::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    width: 100vh;
    height: 30%;
    z-index: 1;
    }

/* 004176 */

.empty-box{
    width: 100%;
    height: 18vh;
}

/* ------------------------- home ------------------------- */

.link-class {
    display: block;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .link-class:hover {
    background-color: #0ea4e94c;
  }

  .link{
    text-decoration: none;
    font-family: 'Poppins', sans-serif; 
    font-size: 1.1rem;
    font-weight: 400;
    color: #525252;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

.right{
    width: 10px;
}

/* ------------------------- header ------------------------- */

.home-header{
    display: flex;
    position: absolute;
    width: 100vw;
    height: 60vh;

}


.home-title{
    font-size: 8rem;
    color:#fafafa;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.594),0px 0px 15px rgba(0, 0, 0, 0.479);
    font-family: 'Carattere', cursive;
    margin: auto;
    user-select: none;
}