.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: start;
  }
  
  .search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: #262626de;
    border: 3px solid #17171726;
    color: #404040;
    padding: 0.5rem 0rem 0.5em 0.5rem;
    border-radius: 8px;
    width: 12em;
    transition: all ease-in-out .5s;
    margin-right: 1rem;
  }
  
  .search__input:hover, .search__input:focus {
    border-color: #262626;
  }

  .search__input {
    color: #a3a3a3;
  }
  
  .search__input:focus {
    outline: none;
    background-color: #292524;
  }
  
  .search__input::-webkit-input-placeholder {
    font-weight: 100;
    color: #525252;
  }
  
  .search__input:focus + .search__button {
    background-color: #292524;
  }
  
  .search__button {
    border: none;
    background-color: #262626;
    margin-top: .1em;
    position: absolute;
    right: 25.7rem;
  }
  
  .search__button:hover {
    cursor: pointer;
  }
  
  .search__icon {
    height: 1.3em;
    width: 1.3em;
    fill: #b4b4b4;
  }