.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: start;
  }
  
  .search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: #f5f5f5;
    border: 2px solid #e5e5e5;
    color: #404040;
    padding: 0.5rem 0rem 0.5em 0.5rem;
    border-radius: 0px;
    width: 12em;
    transition: all ease-in-out .5s;
    margin-right: 1rem;
  }
  
  .search__input:hover, .search__input:focus {
    border-color: #0ea4e9cf;
  }

  .search__input {
    color: #262626;
  }
  
  .search__input:focus {
    outline: none;
    background-color: #f5f5f5;
  }
  
  .search__input::-webkit-input-placeholder {
    font-weight: 100;
    color: #525252a8;
  }
  
  .search__input:focus + .search__button {
    background-color: #f5f5f5;
  }
  
  .search__button {
    border: none;
    background-color: #f5f5f5;
    margin-top: .1em;
    position: absolute;
    right: 26.5rem;
  }
  
  .search__button:hover {
    cursor: pointer;
  }
  
  .search__icon {
    height: 1.3em;
    width: 1.3em;
    fill: #b4b4b4;
  }

  .not-found{
    position: absolute;
    color: #a3a3a3;
    left: 58vh;
    z-index: 10;
  }